<?xml version="1.0" encoding="utf-8"?>
<!-- Copy this file to the folder PIPC\Analytics folder -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
  <targets>
    <target xsi:type="AsyncWrapper" name="wsAsync" queueLimit="200000" fullBatchSizeWriteLimit="20" timeToSleepBetweenBatches="50" overflowAction="Discard">
      <target type='WebService'
          name='ws'
          url='http://localhost:9100/api/logmessage'
          protocol='HttpPost'
          encoding='UTF-8'   >
        <parameter name='Level' type='System.String' layout='${level}'/>
        <parameter name='Message' type='System.String' layout='${message}'/>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*:PerformanceEvaluation" levels="Trace" writeTo="wsAsync" final="true" />
  </rules>
</nlog>
